body {
    background-color:black;
}
.maindiv{
    width:300px;
    margin: auto;
    border-radius: 25px;
    color: black;
    background-color: white;
    padding: 20px;
    font-family: arial;
}
h1{
    color:grey;
    font-family: verdana;
}


